/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"); */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
  margin: 0;
}

/* Home Page CSS start */

/* Button CSS start */

.btn {
  padding: 12px 16px;
  border: 0;
  outline: none;
  cursor: pointer;
}

.btn--primary {
  background-color: #ffb000;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  color: #fff;
}

/* Button CSS end */

/* Banner CSS / Hero Section CSS start */

.hero-section__container {
  height: 100vh;
  background-image: url(../images/banner-image.png);
  backdrop-filter: blur(12px);
  color: #fff;
}

.banner-bg {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 30px;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.hero-section__text {
  font-size: 7.6rem;
  font-weight: 600;
  line-height: 9.2rem;
  text-align: center;
}

.hero-section__subtext {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 400;
  max-width: 70%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .hero-section {
    align-items: flex-start;
  }
  .hero-section__text {
    font-size: 3.8rem;
    line-height: 4.6rem;
    text-align: left;
  }

  .hero-section__subtext {
    font-size: 1.4rem;
    line-height: 1.6rem;
    text-align: left;
    max-width: 100%;
  }

  .hero-section__container {
    background-position: 50% 50%;
  }
}

/* Banner CSS / Hero Section CSS end */

/* Home Page CSS end */
.navBar {
  width: -webkit-fill-available;
  position: fixed;
  left: 0px;
  top: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border-radius: 25px;
}

.navBar.active {
  background: rgba(40, 39, 39, 0.498);
}

.head {
  position: relative;
  display: inline;
  height: 39px;
  width: 150px;
  left: 7%;
}

.head p {
  display: inline;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38.37px;
  /* identical to box height */

  color: rgba(255, 255, 255, 0.979167);
}

.dot {
  position: relative;
  display: inline-block;
  background-color: #fec952;
  height: 12px;
  width: 12.449197769165039px;
  border-radius: 50%;
}

a {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}

.g5 {
  position: relative;
  display: flex;
  top: 5px;
  right: -40%;
  height: 26px;
  /* align-content: center; */
}

.rent {
  padding-right: 36px;
}

.about1 {
  padding-right: 36px;
}

.rectangle {
  display: block;
  height: 26px;
  width: 4px;
  border-radius: 12px;
  background-color: #ffffff;
}

.login {
  padding-left: 36px;
  padding-right: 36px;
}

.MuiPaper-root {
  background-color: transparent;
}

/* Header styles - Raj */

.navbar-logo {
  height: 32px;
  width: auto;
}
.navbar-list {
  display: flex;
  align-items: center;
  gap: 3.6rem;
}
.navbar {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
  z-index: 3;
  top: 0;
  transition: 0.4s;
  color: #fff;
}

.navbar-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}
.navbar-container {
  background-color: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(12px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
#hamburger-menu span:nth-child(3) {
  display: none;
}

.search-section {
  flex-grow: 1;
}

/* Responsive CSS */

@media screen and (max-width: 768px) {
  .navbar {
    padding: 18px 0;
    gap: 12px;
  }
  .hamburger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .navbar-list {
    flex-basis: 100%;
    display: none;
    flex-direction: column;
    gap: 24px;
    margin-top: 16px;
  }
  .navbar-item {
    font-size: 18px;
    font-weight: 500;
  }
  .rectangle {
    display: none;
  }
  .navbar-logo {
    height: 24px;
  }
  #hamburger-menu {
    align-self: center;
    width: 24px;
    height: 24px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 6px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
  #hamburger-menu span {
    display: inline-block;
    height: 2px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transition: 0.25s ease-in-out;
  }

  #hamburger-menu.navbar-expanded {
    justify-content: space-between;
  }

  #hamburger-menu.navbar-expanded span:nth-child(1),
  #hamburger-menu.navbar-expanded span:nth-child(4) {
    display: none;
  }

  #hamburger-menu.navbar-expanded span:nth-child(2) {
    position: absolute;
    top: 25%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #hamburger-menu.navbar-expanded span:nth-child(3) {
    display: block;
    position: absolute;
    top: 25%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .show-nav-list {
    display: flex;
  }

  .search-section {
    width: 30px;
  }
}
